.file-item {
    list-style: none;
    margin: 1.2em 0;
    background-color: #f55e3038;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2em 1.5em;
}
.file-name{
    font-size: 20px;
}
/* .file-item svg {
        color: #f55321;
        &:first-child {
            font-size: 1.2em;
            margin-right: 0.8em;
        }
    } */